<a href="https://colab.research.google.com/github/rohantandon2024/PML-Course/blob/main/Unit01/Unit01_Lecture01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [7]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [8]:
INFILE = "/content/Insurance.csv"
df = pd.read_csv( INFILE )
df.head()

,TARGET_CLM_FLAG,TARGET_CLM_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,SEX,EDUCATION,JOB,TRAVTIME,CAR_USE,BLUEBOOK,TIF,NPOLICY,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CAR_AGE,URBANICITY
0,0,NaN,0,51.0,0,12.0,85076.0,No,249276.0,Yes,F,c_Bachelors,Manager,25,Private,25860,4,2,Sports Car,no,0,0,Yes,1,8.0,Highly Urban/ Urban
1,1,6872.0,0,37.0,0,10.0,55076.0,No,245993.0,Yes,M,d_High School,Clerical,23,Private,16400,4,2,Van,no,0,0,No,1,1.0,Highly Urban/ Urban
2,1,6716.0,3,36.0,4,0.0,NaN,No,0.0,Yes,F,d_High School,Student,54,Private,1500,4,2,SUV,no,0,0,No,5,10.0,Highly Urban/ Urban
3,0,NaN,0,52.0,0,12.0,68564.0,No,274122.0,Yes,M,d_High School,Blue Collar,44,Commercial,10950,4,1,Pickup,yes,0,0,No,2,11.0,Highly Rural/ Rural
4,1,5970.0,0,33.0,4,14.0,30504.0,Yes,0.0,No,M,e_No_High School,Clerical,33,Private,7850,6,2,Pickup,no,0,0,No,0,NaN,Highly Urban/ Urban